<script src="/lib/bluesea.sdk.js"></script>
<script src="./viewer.js"></script>
<video id="remote_video" controls muted autoplay width="100%" height="100%" style="background-color: black;"></video>
<audio id="remote_audio" hidden autoplay>